.loading {
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-top-color: transparent;
  border-radius: 50%;
  position: fixed;
  top: 4%;
  right: 10px;
  transform: translate(-50%, -50%) rotate(0);
  animation: circle infinite 0.75s linear;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.loadbg {
  width: 100vw; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9998;
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}


.loadbged {
  opacity: 0;
  transform: scale(1.1);
  pointer-events: none; 
}


.loadbged + .loading {
  opacity: 0;
  transform: translate(-50%, -50%);
}


@keyframes circle {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
