<!DOCTYPE html>
<html>
    <head>
        <title>CatPanel - {% block title %}{% endblock %}</title>
        {% block header %}{% endblock %}
        <style>
            body {
                font-family: 'DefaultFont', sans-serif;
            }
            @font-face {
                font-family: 'DefaultFont';
                src: url('/GetAssets/DefaultFont') ;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/GetAssets/LoadingAnimationCss">
    </head>
    <body>
        {% block body %}{% endblock %}
        <div class="loading"></div>
        <div class="loadbg"></div>
        <script src="/GetAssets/LoadingAnimationJs"></script>
    </body>
</html>