{% extends 'base.html' %}
{% block title%}Home{% endblock %}
{% block header %}
    <style>
        .usage_container{
            border: 1.5px solid black;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 10px;
            width: fit-content;
            margin: 10px 0;
        }
        .usage_bar{
            width: 250px;
            height: 30px;
            border: 1.5px solid black;
            border-radius: 5px;
            margin: 0;
            background-color: #e0e0e0;
            position: relative;
        }
        .usage_bar .usage_value{
            height: 100%;
            background-color: black;
            border-radius: 5px 0 0 5px;
            width: 0%;
            transition: width 0.5s ease-in-out;
        }
        .usage_text{
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            min-width: 60px;
        }
        .mem_usage .usage_value{
            background-color: black;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="usage_container cpu_usage">
        <p>Cpu usage:</p>
        <div class="usage_bar">
            <div class="usage_value"></div>
        </div>
        <p class="usage_text">0%</p>
    </div>

    <div class="usage_container mem_usage">
        <p>Memory usage:</p>
        <div class="usage_bar">
            <div class="usage_value"></div>
        </div>
        <p class="usage_text">0%</p>
    </div>

    <script>
        
        // 接收使用率更新
        socket.on('usage_update', function(data) {
            console.log('Received data:', data);
            
            // 更新CPU使用率
            document.querySelector(".cpu_usage .usage_value").style.width = data.cpu + "%";
            document.querySelector(".cpu_usage .usage_text").innerText = data.cpu.toFixed(1) + "%";
            
            // 更新内存使用率
            document.querySelector(".mem_usage .usage_value").style.width = data.mem + "%";
            document.querySelector(".mem_usage .usage_text").innerText = data.mem.toFixed(1) + "%";
        });
    </script>
{% endblock %}