{% extends 'base.html' %}
{% block title%}Login{% endblock %}
{%block header %}
<style>
    #login_div{
        font-family: 'DefaultFont', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border: 2px solid black;
        border-radius: 10px;
        padding: 75px;
    }
    @font-face {
        font-family: 'DefaultFont';
        src: url('/GetAssets/DefaultFont') ;
    }
    #login_div input{
        font-family: 'DefaultFont', sans-serif;
        border: none;
        outline: none;
        border-bottom: 2px solid black;

    }
    #login_div button{
        font-family: 'DefaultFont', sans-serif;
        border: none;
        outline: none;
        border: 2px solid black;
        color: black;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
</style>
{% endblock %}
{% block body %}
    <div id="login_div">
        <h2>Login to CatPanel</h2>
        <input id="username" type="text" placeholder="Username"><br><br>
        <input id="password" type="password" placeholder="Password"><br><br>
        <button onclick="login()">Login</button>
    </div>
    <script>
        function login(){
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: `username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}`
            }).then(response => {
                if(response.redirected){
                    window.location.href = response.url;
                } else {
                    alert("Invalid credentials");
                }
            });
        }
    </script>
{% endblock %}